*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Prompt, sans-serif;

}
html{
    scroll-behavior:smooth;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

:root {
    --red:rgb(249, 109, 109);
    --blue: rgb(0, 71, 153);
}



.back-to-top i{
    position: fixed;
    bottom: 5%;
    right: 3%;

    padding: 20px;
    border-radius: 50%;

    background-color: var(--red);
    color: white;

    z-index: 99;
}





header{

    margin: 0 auto;


    position: sticky;
    top: 0;
    background-color: white;

    z-index: 100;
    

}



/* Nav for Desktop */


header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 80%;
    margin: 0 auto;   
    max-width: 1500px;
}

.nav-left img{
    width: 25%;
    padding-top: 5px;
}

.nav-right ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
.nav-right li{
    display: inline-block;
}

.nav-right a{
    text-decoration: none;
    font-family: Prompt, sans-serif;

    color: var(--blue);

    transition: all 0.1s;

    border-bottom: 0px solid var(--blue);

    font-size: 1em;
    

}

.nav-right a:hover, .nav-right a:active{
    color: var(--red);
    border-bottom: 1px solid var(--blue);
}


.buttons-sidebar{
    display: none;

    position: absolute;
    right: 10px;
    top: 10px;

    font-size: 25px;
    color: black;
}



.hamburger-btn::before{
    display: none;
}

.hamburger-btn-nav{
    width: 100%;
    height: 50px;


    position: absolute;
    display: none;
}

.hamburger-btn-nav img{
    width: 60px;
    margin: 25px 0px 0px 25px;
}








/* Nav for mobile */


.nav-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    position: fixed;


    width: 50%;
    right: 0;

    height: 100vh;

    background-color: rgba(249, 109, 109, 1);
    color: white;
}

.nav-mobile .nav-left{
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
}



.nav-mobile .nav-left, .nav-mobile .nav-right{
    margin-left: 25px;
}

.nav-mobile img{
    width: 80px;
    
    margin-top: 10px;
}

.nav-mobile .nav-left a{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;


}


.nav-mobile .nav-right ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

.nav-mobile .nav-right a{
    color: white;
}

.nav-mobile .nav-right a:hover, .nav-mobile .nav-right a:active{
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(0, 71, 153, 0.8);
}



body header hr{
    margin-top: 5px;
    opacity: 0.4;
}



/* Main page */


.sec-1{
    height: 100px;
    background-color: rgba(249, 109, 109,0.4);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;

    margin-bottom: 50px;
}


.same-sections{
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    gap: 5vw;


    margin-bottom: 20px;
}


.same-sections h3{
    font-size: 1.8rem;
}

.same-sections h3{
    font-size: 2rem;
}


.same-sections div{
    flex: 1;
}

.same-sections img{
    width: 30vw;
    max-width: 600px;
}




/* Footer */
footer{
    margin-top: 150px;
    padding: 30px;
    padding-bottom: 50px;

    background-color: rgb(128, 128, 128,0.3);

}

.footer{
    display: flex;

    align-items: flex-start;
    justify-content: space-evenly;

    width: 90%;
    max-width: 1500px;

    margin: 0 auto;

    gap: 20px;
    flex-wrap: wrap;

}

footer h2{
    font-size: 1.5rem;
}

footer a{
    text-decoration: none;
    color: var(--blue);
    transition: all 0.2s;

    font-size: 1.2rem;


    display: flex;
    align-items: center;
    gap: 5px;
    
    width: fit-content;

}



footer a:hover, footer a:active{
    color: var(--red);
}

.footer-left{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    gap: 20px;
}

.contact-us{
    display: flex;
    flex-direction: column;

    gap: 10px;

    font-family: Prompt, sans-serif;
}

.contact-us textarea{
    min-width: 100%;
    width: 100%;

    min-height: 100px;
    height: 100px;
    max-height: 200px;

    max-width:max-content;

    padding: 7px 35px 7px 5px;

}

.contact-inputs{
    border: none;
    outline: none;

    background-color: white;

}

footer form input{
    padding: 7px 35px 7px 5px;

}


.footer-right button{
    border: none;
    outline: none;
    background-color: var(--blue);
    color: white;

    padding: 10px 20px;

    font-size: 1.2rem;
    letter-spacing: 2px;

    transition: all 0.2s;
}






.footer-right button:hover, .footer-right button:active{
    background-color: var(--red);
    letter-spacing: 5px;
}

.footer-left, .footer-mid, .footer-right{
    flex: 1;

    min-width: 220px;
}




/* Media Quereis */

@media (max-width: 1024px){
    .same-sections{
        width: 85%;
    }
}


@media (max-width: 768px){
    .sec-1{
        margin-top: 80px;
    }
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
        display: none;
    }

    .buttons-sidebar{
        display: block;
    }
    .hamburger-btn::before{
        display: block;
    }



    .hamburger-btn-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }







    
    .same-sections{
        width: 90%;
    }
    .same-sections img{
        width: 100px;
        flex: 1;
    }
    .same-sections div{
        flex: 1;
    }
    

}



@media (max-width: 650px){
    .same-sections{
        display: flex;
        flex-direction: column-reverse;

        margin-bottom: 150px;

        gap: 20px;
    }

    .sec-2{
        margin-top: 50px;
    }

    .sec-3{
        flex-direction: column;
    }

    .same-sections img{
        width: 80%;
        flex: 1;
        
    }

    .same-sections div{
        flex: 1;
        align-self: center;
    }
}


@media (max-width: 500px){
    .sec-1 h1{
        font-size: 2.2rem;
    }
    .same-sections{
        width: 95%;
    }
}










